.nav-links {
  padding: 0 20px;
  width: 128px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .link-wrap {
    display: flex;
    background-color: var(--back-ground-div-dark);
    padding: 10px 12px;
    border-radius: 50px;
    color: white;
    overflow: hidden;
    width: fit-content;
    align-items: center;
    margin-bottom: 15px;
    text-decoration: none;
    transition: 0.3s linear;
    &:hover p {
      width: 79px;
      margin-right: 5px;
    }
    p {
      width: 0px;
      overflow: hidden;
      font-size: 17px;
      text-align: center;
      margin-right: 0px;
      transition: 0.3s linear;
    }
    a {
      font-size: 20px;
    }
  }
}
